<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <property name="LOG_LEVEL" value="${SUB_MARKET_LOG_LEVEL:-INFO}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Noisy third-party libraries -->
    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.apache.http.wire" level="WARN"/>
    <logger name="org.xnio.nio" level="WARN"/>
    <logger name="io.undertow" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="org.postgresql" level="WARN"/>
    <logger name="org.eclipse.aether" level="WARN"/>
    <logger name="io.methvin.watcher" level="WARN"/>
    <logger name="org.eclipse.jgit" level="WARN"/>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>